<header>
  <div class="for-desktop">
    <div class="topnav-desktop">
      <div class="mia-box">
        <i class="fa fa-shopping-basket"></i>
        MIA
      </div>
      <div>
        <i class="fa fa-phone"></i>
        <span>+234 901 233 1330</span>
      </div>
      <div>
        <i class="fa fa-shopping-bag"></i>
        <span>Shop on MIA Stores</span>
      </div>
    </div>
    <nav class="desktop-nav">
      <a href="/" class="nav-logo">Home</a>
      <select class="for-options">
        <option>Categories</option>
        <option>Vehicles</option>
        <option>Cloth & Fashion</option>
        <option>Accesories</option>
        <option>Electronics</option>
        <option>Gadgets</option>
        <option>SuperMarket</option>
        <option>Health and Beauty</option>
      </select>
      <input type="search" placeholder="Search products" class="nav-search" />
      <a href="#" class="nav-support">Support</a>
      <select class="nav-theme mnitem">
        <option class="">Light Mode ☀️</option>
        <option class="">Dark Mode 🌙</option>
      </select>
      <a href="#" class="nav-login">Login</a>
    </nav>
  </div>
  <!-- For Mobile Screens -->
  <div class="for-mobile">
    <div class="topnav-mobile">
      <div class="logo">
        <i class="fa fa-shopping-basket"></i>
        MIA
      </div>
      <div class="toptext">
        <i class="fa fa-shopping-bag"></i>
        <span>Shop on MIA Stores</span>
      </div>
    </div>
    <div class="hambuger">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <nav class="mobile-nav">
      <a href="/" class="nav-logo mnitem">Home</a>
      <select class="for-options mnitem">
        <option>Categories</option>
        <option>Vehicles</option>
        <option>Cloth & Fashion</option>
        <option>Accesories</option>
        <option>Electronics</option>
        <option>Gadgets</option>
        <option>SuperMarket</option>
        <option>Health and Beauty</option>
      </select>
      <a href="#" class="nav-support mnitem">Support</a>
      <select class="mnitem theme-icon">
        <option class="">Light Mode ☀️</option>
        <option class="">Dark Mode 🌙</option>
      </select>
      <a href="#" class="nav-login mnitem">Login</a>
    </nav>
  </div>
</header>
