body {
    background-color: var(--background-color);
    color: var(--text-color);
}
.hero {
    height: 80vh;
    background-image: url("../images/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--text-color);
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.hero-overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--overlay-bg);
}

.heroelements {
    position: relative;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.shop-button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    width: fit-content;
    text-decoration: none;
}

/* CATEGORIES STYLING */
.categories-index {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.index-cat-items {
    max-width: 90vw;
    display: flex;
    gap: 20px;
    margin-top: 10px;
    overflow: auto;
}

.category-item {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 15px 0;
}

.category-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid green;
    padding: 2px;
}

.category-item img:hover {
    border: 1px solid red;
}

@media (max-width: 760px) {
  .hero {
    margin-top: 20px;
  }
}